.msg-bubble{
    width: 100%;    
}
.msg-bubble:nth-child(odd) {
    float: left;   
    width: 100%;
}
.msg-bubble:nth-child(odd) .msg-item{
    background-color:#1565c0 ;
    max-width: 48%;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    min-width: 40px;
}
.msg-bubble:nth-child(even) .msg-item{
    background-color:#f6f6f6 ;
    max-width: 48%;
    border-radius: 10px;
    float: right;
    color: #000;   
    min-width: 40px;
}
.msg-bubble:nth-child(even) {
    float: right;   
    width: 100%;
}
.msg-item{     
    padding: 10px;
}